#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#about .info-box,
#about .setting-box {
    width: 640px;
    margin: 24px;
}

#about .title {
    font-size: 36px;
    color: rgb(var(--contrast-color));
}
#about hr {
    height: 0px;
    width: calc(100% - 2px);
    border-color: rgb(var(--secondground-color));
    border-style: solid;
}
#about .info {
    height: 40px;
    color: rgb(var(--contrast-color));
    display: flex;
    justify-content: flex-start;
}
#about .info p {
    font-size: 22px;
    margin: auto 4px;
}
#about .info a {
    font-size: 22px;
    margin: auto 4px;
    color: rgb(var(--contrast-color));
    transition: 0.3s;
}
#about .info a:hover {
    color: rgb(var(--sec-contrast-color));
}

#about .row,
#about .button-box {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    margin-left: 16px;
}
#about .row .name {
    width: 6em;
    font-size: 18px;
    color: rgb(var(--contrast-color));
    margin: 4px;
}
#about .remark {
    font-size: 18px;
    color: rgb(var(--contrast-color));
    margin: 4px;
}
#about .row input {
    width: 36px;
    margin: 4px;
    background-color: transparent;
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(var(--second-color));
    caret-color: rgb(var(--contrast-color));
    outline: none;
    font-size: 16px;
    color: rgb(var(--contrast-color));
    text-align: right;
    -moz-appearance: textfield;
}
#about .row input[type=number]::-webkit-outer-spin-button,
#about .row input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#about .row input:focus {
    color: rgb(var(--contrast-color));
    border-color: rgb(var(--contrast-color));
}
#about .button-box button {
    background-color: transparent;
    width: fit-content;
    padding: 0px 12px;
    height: 32px;
    font-size: 18px;
    line-height: 32px;
    color: rgb(var(--secondground-color));
    border-color: rgb(var(--secondground-color));
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
    margin: 0px;
    transition: 0.3s;
    cursor: pointer;
}
#about .button-box button:first-of-type {
    border-radius: 5px 0px 0px 5px;
}
#about .button-box button:last-of-type {
    border-radius: 0px 5px 5px 0px;
}
#about .button-box button:hover {
    color: rgb(var(--contrast-color));
    border-color: rgb(var(--contrast-color));
}