#home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home .queue-head {
    max-width: 850px;
    width: 50%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
#home .queue-head .title {
    color: rgb(var(--contrast-color));
    font-size: 32px;
}
#home .queue-head hr {
    height: 0px;
    width: calc(100% - 2px);
    border-color: rgb(var(--secondground-color));
    border-style: solid;
}

#home .queue {
    max-width: 850px;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    user-select: none;
}

#home .queue .progress-bar {
    height: 68px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#home .queue .progress-bar .progress-text {
    color: rgb(var(--contrast-color));
    font-size: 18px;
    margin: 2px 8px;
    display: flex;
    align-items: center;
}
#home .queue .progress-bar .progress-text .progress-title {
    text-indent: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
}
#home .queue .progress-bar .progress-text .progress-option {
    margin: 2px;
    width: 26px;
    line-height: 26px;
    font-size: 18px;
    text-align: center;
    color: rgb(var(--primary-color));
    border-radius: 13px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(var(--primary-color));
    transition: 0.3s;
    cursor: default;
}
#home .queue .progress-bar .progress-text .progress-option.act {
    color: rgb(var(--contrast-color));
    cursor: pointer;
}
#home .queue .progress-bar .progress-text .progress-option.act:hover {
    background-color: rgb(var(--primary-color));
}
#home .queue .progress-bar .progress {
    width: calc(100% - 16px);
    position: relative;
    height: 20px;
    margin: 8px;
    margin-top: 2px;
    border-radius: 10px;
    border-color: rgb(var(--primary-color));
    border-width: 1px;
    border-style: solid;
    line-height: 20px;
    text-align: center;
    color: rgb(var(--contrast-color));
    overflow: hidden;
    z-index: 2;
}
#home .queue .progress-bar .progress::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -22px;
    width: calc(var(--proc) * 1% + 22px);
    height: 22px;
    border-radius: 11px;
    background-color: rgb(var(--sec-contrast-color));
    z-index: -1;
    transition: 0.5s;
    background-image: linear-gradient(-90deg, var(--b_1));
    animation-name: b_3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#home .system-status {
    position: absolute;
}