#info-results {
    height: 100%;
}

#info-results .control-bar {
    height: 32px;
    display: flex;
    margin: 0px 6px;
}
#info-results .control-bar button {
    background-color: transparent;
    width: 128px;
    height: 30px;
    font-size: 18px;
    line-height: 26px;
    color: rgb(var(--secondground-color));
    border-color: rgb(var(--secondground-color));
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    margin: 0px;
    transition: color 0.3s, border-color 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info-results .control-bar button p {
    transition: 0s;
}
#info-results .control-bar button:hover {
    color: rgb(var(--contrast-color));
    border-color: rgb(var(--contrast-color));
}
#info-results .control-bar .empty {
    flex: 1;
}

#info-results .results {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

#info-results .results .result-box {
    margin: 6px;
    flex: 1;
    max-width: calc(20% - 12px);
    min-width: 320px;
    height: 120px;
    border-radius: 8px;
    border-color: rgb(var(--secondground-color));
    border-width: 1px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--contrast-color));
    user-select: none;
    transition: 0.4s;
    cursor: pointer;
}

#info-results .results .result-box:hover {
    color: rgb(var(--sec-contrast-color));
    border-color: rgb(var(--sec-contrast-color));
}

#info-results .results .result-box p {
    text-align: center;
    line-height: 28px;
    font-size: 22px;
    word-wrap:normal;
    white-space: pre-line;
    overflow-wrap: normal;
    width: 90%;
    transition: 0s;
}