#info-loading {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#info-loading .ring_text {
    position: fixed;
    width: 200px;
    font-size: 36px;
    text-align: center;
    color: rgb(255, 255, 255);
    animation: trans 3s linear infinite;
    font-family: "Caveat", cursive;
}
#info-loading .ring {
    width: 256px;
    height: 256px;
    transform: rotateZ(-90deg);
    animation: ring_ani 3s ease infinite;
}
#info-loading .ring circle {
    fill: none;
    stroke-width: 8px;
    stroke: rgb(255, 255, 255);
    stroke-linecap: round;
    stroke-dasharray: 753;
    stroke-dashoffset: 853;
    animation: ring_c_ani 3s ease infinite;
}

@keyframes ring_ani {
    0%{
        transform: rotateZ(-90deg);
    }
    50%{
        transform: rotateZ(-270deg);
    }
    100%{
        transform: rotateZ(-450deg);
    }
}
@keyframes ring_c_ani {
    0%{
        stroke-dashoffset: 753;
    }
    50%{
        stroke-dashoffset: 1506;
    }
    100%{
        stroke-dashoffset: 2259;
    }
}
@keyframes trans {
    50%{
        color: transparent;
    }
}
