#update-finish .finish-box {
    display: grid;
    grid-template-columns: repeat(7, calc(14.3% - 10px));
    gap: 12px;
    padding-bottom: 12px;
}

#update-finish .anime-box {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(var(--secondground-color));
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
}

#update-finish .anime-box img {
    width: calc(100% - 16px);
    margin: 8px;
    margin-bottom: 0px;
}

#update-finish .anime-box p {
    height: 64px;
    margin: 0px 8px;
    color: rgb(var(--contrast-color));
    font-size: 20px;
    transition: 0.2s;
    text-align: center;
}
#update-finish .anime-box:hover p {
    color: rgb(var(--sec-contrast-color));
}

#update-finish .loading-box {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    user-select: none;
    position: relative;
    height: 50vh;
    transform: scale(0.8);
}

#update-finish .ring_text {
    position: absolute;
    top: calc(50% - 21px);
    left: calc(50% - 100px);
    width: 200px;
    height: 42px;
    line-height: 42px;
    font-size: 36px;
    text-align: center;
    color: rgb(255, 255, 255);
    animation: trans 3s linear infinite;
    font-family: "Caveat", cursive;
}
#update-finish .ring {
    width: 256px;
    height: 256px;
    transform: rotateZ(-90deg);
    animation: ring_ani 3s ease infinite;
}
#update-finish .ring circle {
    fill: none;
    stroke-width: 8px;
    stroke: rgb(255, 255, 255);
    stroke-linecap: round;
    stroke-dasharray: 753;
    stroke-dashoffset: 853;
    animation: ring_c_ani 3s ease infinite;
}
