#update-year {
    height: 100%;
    overflow-y: auto;
}

#update-year hr.hor-hr {
    width: calc(100% - 2px);
    height: 0px;
    border-color: rgb(var(--secondground-color));
    border-style: solid;
    border-width: 1px;
    margin: 8px auto;
}

#update-year .season-block {
    user-select: none;
    margin: 12px 0px 36px 0px;
    transition: 0.2s;
    color: rgb(var(--secondground-color));
}

#update-year .season-block .title {
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    /* margin: 8px 0px; */
    color: rgb(var(--contrast-color));
    margin: 4px 0px;
}
#update-year .season-block .animes {
    display: grid;
    /* grid-template-columns: repeat(5, calc(20% - 6.4px)); */
    grid-template-columns: repeat(5, auto);
    gap: 12px;
}
#update-year .season-block .animes .anime-block {
    overflow-x: hidden;
}
#update-year .season-block .animes .anime-block p {
    margin: 0px;
    color: rgb(var(--contrast-color));
    width: fit-content;
    max-width: 100%;
    font-size: 18px;
    transition: 0.2s;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
#update-year .season-block .animes .anime-block p:hover {
    color: rgb(var(--sec-contrast-color));
    text-decoration: underline;
}