#update-week {
    display: flex;
    height: 100%;
    overflow-y: auto;
    gap: 8px;
    align-items: flex-start;
}

#update-week hr.hor-hr {
    width: calc(100% - 2px);
    height: 0px;
    border-color: rgb(var(--secondground-color));
    border-style: solid;
    border-width: 1px;
    margin: 8px auto;
}

#update-week .week-day {
    flex: 1;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: rgb(var(--secondground-color));
    padding: 4px 8px 12px 8px;
    user-select: none;
    margin: 12px 0px;
}
#update-week .week-day.act {
    border-color: rgb(var(--sec-contrast-color));
    border-top-right-radius: 0px;
    position: relative;
}
#update-week .week-day.act::after {
    content: "今天";
    font-family: "Noto Sans TC", sans-serif;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(var(--sec-contrast-color));
    color: rgb(var(--contrast-color));
    font-size: 14px;
    width: 48px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-bottom-left-radius: 8px;
    transition: 0.1s;
}

#update-week .week-day .title {
    font-size: 24px;
    margin: 0px;
    margin-bottom: 18px;
    color: rgb(var(--contrast-color));
}

#update-week .week-day .ani-block {
    width: 100%;
    height: 96px;
    cursor: pointer;
}
#update-week .week-day .ani-block .title {
    height: 72px;
    margin: 0px 4px;
    color: rgb(var(--contrast-color));
    font-size: 20px;
    transition: 0.3s;
}
#update-week .week-day .ani-block:hover .title {
    color: rgb(var(--sec-contrast-color));
}
#update-week .week-day .ani-block .update {
    height: 20px;
    margin: 0px 4px;
    text-align: right;
    color: rgb(var(--second-color));
}

#update-week .week-day .no-ani {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#update-week .week-day .no-ani img {
    width: 80%;
    margin: auto;
}
#update-week .week-day .no-ani p {
    color: rgb(var(--contrast-color));
    font-size: 16px;
    text-align: center;
}