/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(./material-symbols_fill_0.woff2) format('woff2');
}
@font-face {
    font-family: 'Material Symbols';
    font-style: normal;
    font-weight: 400;
    src: url(./material-symbols_fill_1.woff2) format('woff2');
}

.ms-o {
    font-family: 'Material Symbols Outlined';
}
.ms {
    font-family: 'Material Symbols';
}