<div class="week-day">
    <div class="title">星期一</div>
    <div class="no-ani" style="display: none;">
        <img src="../static/img/pic_sorry_cry.png">
        <p>Sorry !<br>今天沒有動畫</p>
    </div>
    <!-- <div class="ani-block">
        <p class="title">哈哈</p>
        <p class="update">第 1 集</p>
    </div> -->
</div>
<div class="week-day">
    <div class="title">星期二</div>
    <div class="no-ani" style="display: none;">
        <img src="../static/img/pic_sorry_cry.png">
        <p>Sorry !<br>今天沒有動畫</p>
    </div>
</div>
<div class="week-day">
    <div class="title">星期三</div>
    <div class="no-ani" style="display: none;">
        <img src="../static/img/pic_sorry_cry.png">
        <p>Sorry !<br>今天沒有動畫</p>
    </div>
</div>
<div class="week-day">
    <div class="title">星期四</div>
    <div class="no-ani" style="display: none;">
        <img src="../static/img/pic_sorry_cry.png">
        <p>Sorry!<br>今天沒有動畫</p>
    </div>
</div>
<div class="week-day">
    <div class="title">星期五</div>
    <div class="no-ani" style="display: none;">
        <img src="../static/img/pic_sorry_cry.png">
        <p>Sorry!<br>今天沒有動畫</p>
    </div>
</div>
<div class="week-day">
    <div class="title">星期六</div>
    <div class="no-ani" style="display: none;">
        <img src="../static/img/pic_sorry_cry.png">
        <p>Sorry!<br>今天沒有動畫</p>
    </div>
</div>
<div class="week-day">
    <div class="title">星期日</div>
    <div class="no-ani" style="display: none;">
        <img src="../static/img/pic_sorry_cry.png">
        <p>Sorry!<br>今天沒有動畫</p>
    </div>
</div>
<script>
    get_week_anime();
</script>