<div class="queue-head">
    <div class="title">下載清單</div>
    <hr>
</div>
<div class="queue">
    <div class="progress-bar">
        <div class="progress-text">
            <div class="progress-title">Name</div>
            <div class="progress-option ms">pause</div>
            <div class="progress-option ms">stop</div>
            <div class="progress-option ms">keyboard_arrow_up</div>
            <div class="progress-option ms">keyboard_arrow_down</div>
        </div>
        <div class="progress" style="--proc: 50">50%</div>
    </div>
</div>
<div class="system-status">

</div>