<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link rel="icon" href="../static/img/favicon.ico">
        <link rel="stylesheet" href="../static/css/video-js.min.css">
        <link rel="stylesheet" href="../static/fonts/font.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="../static/css/top-bar.css">
        <link rel="stylesheet" href="../static/css/message-bar.css">
        <link rel="stylesheet" href="../static/css/home.css">
        <link rel="stylesheet" href="../static/css/info.css">
        <link rel="stylesheet" href="../static/css/setting.css">
        <link rel="stylesheet" href="../static/css/update.css">
        <link rel="stylesheet" href="../static/css/about.css">
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script> -->
        <script src="../static/js/jquery-3.6.3.min.js"></script>
        <script src="../static/js/js.cookie.min.js"></script>
        <script src="../static/js/video.min.js"></script>
        <script src="../static/js/index.js"></script>
        <script src="../static/js/message-bar.js"></script>
        <script src="../static/js/home.js"></script>
        <script src="../static/js/info.js"></script>
        <script src="../static/js/setting.js"></script>
        <script src="../static/js/update.js"></script>
        <title>MyselfAnimeDownloader</title>
    </head>
    <body onhashchange="hash_change()" class="b">
        <div id="top-bar" class="b_2"></div>
        <div id="message-bar"></div>
        <div id="home" class="page"></div>
        <div id="info" class="page"></div>
        <div id="setting" class="page"></div>
        <div id="update" class="page"></div>
        <div id="player" class="page"></div>
        <div id="data" class="page"></div>
        <div id="about" class="page"></div>
    </body>
    <script>
        $("#top-bar").load("/include-html/top-bar.html");
        $("#message-bar").load("/include-html/message-bar.html");
        document.querySelectorAll(".page").forEach((element)=>{
            $(element).load(`/include-html/${element.id}.html`);
        })
        onload();
    </script>
</html>
