<div class="info-block">
    <div class="anime">
        <img id="anime-img" src="">
        <hr class="vtl-hr">
        <div class="anime-content">
            <div class="anime-data">
                <div id="anime-name" class="data-box">
                    <p class="a-title">動畫名稱</p>
                    <hr class="vtl-hr" style="height: 75%;">
                    <p class="a-content"></p>
                </div>
                <div id="anime-type" class="data-box">
                    <p class="a-title">動畫種類</p>
                    <hr class="vtl-hr" style="height: 75%;">
                    <p class="a-content"></p>
                </div>
                <div id="anime-pre-date" class="data-box">
                    <p class="a-title">開播日期</p>
                    <hr class="vtl-hr" style="height: 75%;">
                    <p class="a-content"></p>
                </div>
                <div id="anime-eps-num" class="data-box">
                    <p class="a-title">播出集數</p>
                    <hr class="vtl-hr" style="height: 75%;">
                    <p class="a-content"></p>
                </div>
                <div id="anime-author" class="data-box">
                    <p class="a-title">原著作者</p>
                    <hr class="vtl-hr" style="height: 75%;">
                    <p class="a-content"></p>
                </div>
                <div id="anime-official-web" class="data-box">
                    <p class="a-title">官方網站</p>
                    <hr class="vtl-hr" style="height: 75%;">
                    <a class="a-content" href="" target="_blank"></a>
                </div>
                <div id="anime-remark" class="data-box">
                    <p class="a-title">備註</p>
                    <hr class="vtl-hr" style="height: 75%;">
                    <p class="a-content"></p>
                </div>
                <div id="anime-myself" class="data-box">
                    <p class="a-title">Myself 連結</p>
                    <hr class="vtl-hr" style="height: 75%;">
                    <a class="a-content" href="" target="_blank"></a>
                </div>
            </div>
            <hr class="hor-hr">
            <div class="anime-intro">
                <div class="sec-title">劇情簡介</div>
                <div id="anime-intro" class="data-box">
                    <!-- 故事描繪已經成為大人的主角們，凜離開了故鄉山梨在名古屋的出版社工作，某個周末正在制定旅遊計畫的凜，突然收到千明的訊息，在山梨觀光推廣機構工作的千明，負責數年前關閉的設施的再開發企劃，聽到這企劃的凜表示：「有這麼寬廣的腹地，拿來當露營場不是很好嗎？」，不經意的一句話，讓在東京的戶外用品店工作的撫子、在山梨的小學當老師的葵、在橫濱的寵物沙龍工作的惠那等人，曾經的露營夥伴都集結而來，開始了露營場的開發計畫。 -->
                </div>
            </div>
        </div>
    </div>
    <hr class="hor-hr">
    <div class="data"></div>
</div>
<hr class="vtl-hr">
<div class="episode-block">
    <div class="sec-title">選擇集數</div>
    <hr class="hor-hr">
    <div class="episode-select">
        <input type="text" placeholder="ex. 1,5,7-10,!6" class="eng" onkeydown="if (event.keyCode == 13) {select_episodes(this.value);this.value='';}">
        <button class="select-send" onclick="select_episodes(this.previousElementSibling.value);this.previousElementSibling.value=''">確認</button>
        <button class="select-all" onclick="select_episodes('-');">全選</button>
    </div>
    <hr class="hor-hr">
    <div id="episodes">
        <!-- <div class="episode" onclick="selected(this);">第 1 話</div> -->
    </div>
    <hr class="hor-hr">
    <div class="episode-send">
        <button onclick="send_episode();">確認</button>
        <button onclick="select_episodes('');">重設</button>
    </div>
</div>