<div class="setting-box">
    <div class="title">設定</div>
    <hr>
    <div class="setting-title">全域設定</div>
    <div class="row">
        <div class="name">User-Agent :</div>
        <input type="text" name="ua">
    </div>
    <div class="row">
        <div class="name">暫存資料夾 :</div>
        <input type="text" name="temp_path">
    </div>
    <div class="row">
        <div class="name">下載線程數 :</div>
        <input type="number" min="1" step="1" name="threads">
        <div class="name">個</div>
    </div>
    <div class="row">
        <div class="name">連接數量 :</div>
        <input type="number" min="1" step="1" name="connections">
        <div class="name">個/線程</div>
    </div>

    <div class="setting-title">Myself設定</div>
    <div class="row">
        <div class="name">資料夾名稱</div>
        <input type="text" name="myself_dir_name">
    </div>
    <div class="row">
        <div class="name">檔案名稱</div>
        <input type="text" name="myself_file_name">
    </div>
    <div class="row">
        <div class="name">下載位置</div>
        <input type="text" name="myself_download_path">
    </div>
    <div class="row">
        <div class="name">檢查更新間隔</div>
        <input type="number" min="1" step="1" name="myself_update">
        <div class="name">分鐘</div>
    </div>
    <hr>
    <div class="button-box">
        <button class="save">保存</button>
        <button class="restore">重設</button>
    </div>
</div>