<img src="../static/img/logo.png">
<div class="title">Myself Anime Downloader</div>
<div class="tab" onclick="location.hash='home'">
    <p class="ms">home</p>
    <p>Home</p>
</div>
<div class="tab" onclick="location.hash='info'">
    <p class="ms">description</p>
    <p>Info</p>
</div>
<div class="tab" onclick="location.hash='setting'">
    <p class="ms">tune</p>
    <p>Setting</p>
</div>
<div class="tab" onclick="location.hash='update'">
    <p class="ms">date_range</p>
    <p>Update</p>
</div>
<div class="tab" onclick="location.hash='player'">
    <p class="ms">live_tv</p>
    <p>Player</p>
</div>
<div class="tab" onclick="location.hash='data'">
    <p class="ms">database</p>
    <p>Data</p>
</div>
<div class="tab" onclick="location.hash='about'">
    <p class="ms">info</p>
    <p>About</p>
</div>
<div class="empty"></div>
<div id="switch-q" class="ms" onclick="b_1();">question_mark</div>
<div id="switch-color" class="ms" onclick="switch_color();">light_mode</div>
<input class="search" placeholder="Search...">
<script>
    if (Cookies.get("color_mode") == "1") {
        document.querySelector("#switch-color").textContent = "dark_mode";
    }
</script>