<img src="../static/img/logo.png">
<div class="title">Myself Anime Downloader</div>
<div class="tab" onclick="location.hash='home'">
    <p class="ms">home</p>
    <p>Home</p>
</div>
<div class="tab" onclick="location.hash='info'">
    <p class="ms">description</p>
    <p>Info</p>
</div>
<div class="tab" onclick="location.hash='setting'">
    <p class="ms">tune</p>
    <p>Setting</p>
</div>
<div class="tab" onclick="location.hash='update'">
    <p class="ms">date_range</p>
    <p>Update</p>
</div>
<div class="tab" onclick="location.hash='player'">
    <p class="ms">live_tv</p>
    <p>Player</p>
</div>
<div class="tab" onclick="location.hash='data'">
    <p class="ms">database</p>
    <p>Data</p>
</div>
<div class="tab" onclick="location.hash='about'">
    <p class="ms">info</p>
    <p>About</p>
</div>
<div class="empty"></div>
<input class="search" placeholder="Search...">