<div class="update-switch">
    <button onclick="show_update(2);if(new Date().getDay()!=week_update_day){get_week_anime()}">
        <p>每周列表</p>
    </button>
    <button onclick="show_update(1)">
        <p>每年列表</p>
    </button>
    <button onclick="show_update(0)">
        <p>完結列表</p>
    </button>
    <div class="empty"></div>
    <button onclick="no_cache_reload();">
        <p class="ms">refresh</p><p>刷新列表</p>
    </button>
</div>
<div class="update-page">
    <div id="update-finish" style="display: none;"></div>
    <div id="update-year" style="display: none;"></div>
    <div id="update-week"></div>
</div>
<script>
    $("#update-finish").load("/include-html/update-finish.html");
    $("#update-year").load("/include-html/update-year.html");
    $("#update-week").load("/include-html/update-week.html");
</script>